*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.background{
    background-image:url('../assets/images/background-image.jpg');
    background-size: cover;
    
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item-nav{
    border-radius: 20px;
    background-color: #fff;
    padding: 2px 15px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: larger;
}

a{
    color: black;
}


